<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container mx-auto text-center">
    <div class="row m-2">
    <h3 class="mx-auto">Thank you for your business!</h3>
    </div>
    <p class="m-3">We charged your credit card for ${{last_order.total_price}}</p>
    <p class="m-3">You have ordered {{total_quantity}} item(s) so far and spent ${{total_spent}} with Amadon.com!</p>
    <p class="m-3"><a href="/">Go Back</a></p>
    
    {% for invoices in all_orders %}
    {{invoices.total_price}}
    {% endfor %}
    </div>
</body>
</html>